<!-- side-nav-container outside -->
<div class="side-nav-content-container">
  <section style="border-top: 1px solid #b4b4b4;">
    <header class="major">
      <h2 style="margin: 0.75em 0 ;">
        <a href="https://github.com/Continuum3416" style="text-decoration: none; color:inherit;">
          Recent Activities
          <i class="fa fa-external-link" style="font-size:14px"></i>
        </a>
      </h2>
    </header>
    <div class="github-contribution">
      <img src="https://ghchart.rshah.org/Continuum3416" alt="GitHub Contributions" class="github-inner" />
    </div>
    <div style="max-width: 300px; margin-left: auto; margin-right: auto; margin-top: 20px; display: flex; align-items: center;">
      <span id="commit-info" style="font-family: monospace; white-space: pre-line; word-wrap: break-word; overflow-wrap: break-word; font-size: 15px;">Loading...</span>
    </div>
  </section>

  <section>
    <header class="major">
      <h2 style="margin: 0.75em 0 ;">Highlights</h2>
    </header>
    <div class="highlights">
      <ul id="suggestion-container">
        <li class="home-li" data-id="orb-cuda-1"></li>
        <li class="home-li" data-id="chladni-1"></li>
        <li class="home-li" data-id="chladni-2"></li>
        <!-- <li class="home-li" data-id="snell-1"></li> -->
        <li class="home-li" data-id="hessian-1"></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="attribute">
      <div style="font-weight: bold; font-size: 1em; text-decoration: underline; text-decoration-thickness: 1.5px; text-underline-offset: 4px;">
        About this Website
      </div>
      <div>Logo designed by my friend, <a href="https://www.instagram.com/alitheqaz/" class="hyperlink"
          onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Ali
          Qazwini</a></div>
      <div>Website designed by me</div>
      <div>Idea from 2023, created in 2024</div>
    </div>
  </section>
</div>