/*
  ____  _    _ _______ _______ ____  _   _  _____ 
 |  _ \| |  | |__   __|__   __/ __ \| \ | |/ ____|
 | |_) | |  | |  | |     | | | |  | |  \| | (___  
 |  _ <| |  | |  | |     | | | |  | | . ` |\___ \ 
 | |_) | |__| |  | |     | | | |__| | |\  |____) |
 |____/ \____/   |_|     |_|  \____/|_| \_|_____/ 
*/

/* copy button */
.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--body-background-color); /*#1DA1F2;*/
    color: #4C83EE;
    border: 1px solid #4C83EE;
    width: 58px;
    height: 26px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    /* transition: background-color 0.15s, color 0.15s; */
    z-index: 500; /* Ensure it appears above other elements */
}

.copy-btn:hover{
    background-color: #4C83EE;/*#1681c4;*/
    color: white;
}

/* Base styles */
:root{
    --slider-color: black; /* the ball*/
}

/* Dark mode styles */
body.dark-mode {
    --body-background-color: #161616;
    /* --text-color: #A9A9B3;  */
    --grid-text-color: #A9A9B3; /*#dddddd*/
    /* --topic-line-color: #007bff; */
    --nav-bar-color: #121212;
    --nav-bar-text-color: #c6c6ce;
    --code-box-color: #2a2a2a;
    --nav-ul-li-color: #222222;
    --slider-background-color: red; /* moon */
    --top-bar-color: #222222;
    /*nav bar borderline: */
    /* --border-line-color: red; */
    --toggle-bar: white;
    --dropdown-color: #121212;
    --dropdown-text-color: white;
    --dropdown-hover-color: #222222;
    --top-dropdown-shadow-color: rgba(255,255,255,0.1);
    --figcaption-text: #939393;
    --slider-color: black; /*#1c0098*/
    --slider-shadow-shift: 0.4rem;
    --slider-left: -2px;
    --article-color: #1f1f1f;
    --article-name-color: #dddddd;
    --article-description-color: #dddddd;
    --article-date-color: #aaa;
    --black-svg-filters: invert(100%) sepia(100%) saturate(2%) hue-rotate(215deg) brightness(101%) contrast(101%);
    --social-media-container-color: black;
    /* --url-color: rgb(0, 217, 217); */
    --url-hover-color: rgb(0, 194, 0);
    --material-link-color: #aaa;
    --article-shadow-color: rgba(255, 255, 255, 0.1);
}


.dark-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    width: 30px;
}

/* Button Styles */
.dark-mode-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease-in-out;
    color: #333; /* Default color */
    color: #dddddd;
}

body.dark-mode .dark-mode-button {
    color: #fdd835;
}


:root{
    --next-button: rgb(26, 26, 26);
    --next-text: black;
    --next-border: #A9A9B3;
}

body.dark-mode{
    --next-text: #ffffff;
}
.redirect-button{
    min-width: 80px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 20px auto;
    background-size: 200%;
    border:1px solid var(--next-border);
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 18px;
    color: var(--next-text);
    font-weight: 500;
    text-decoration: none;
    /* background: linear-gradient(to left, var(--body-background-color) 50%, #2a7ae2 50%) right; */
}


.redirect-button:hover {
    color: #2a7ae2;
}

:root{
    --share-button-position: 70px;
}

.share-button, .share-option{
    border: 2px solid #1d4ed8 !important;
    color: var(--grid-text-color) !important;
    background: var(--body-background-color);
}

.share-button {
    position: fixed;
    top: var(--share-button-position);
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.share-button:hover, .share-option:hover {
    color: #1800a3;
}

.share-button img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.share-tooltip {
    position: absolute;
    bottom: 10px;
    right: 100px;
    transform: translateX(50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Ensure it's not interactive when hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

#share-expand{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.share-button:hover .share-tooltip {
    opacity: 1;
    visibility: visible;
}

.share-options {
    position: fixed;
    display: none;
    top: calc(var(--share-button-position) + 40px);
    right: 10px;
    z-index: 1001;
}

.share-option {
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 17px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.share-option:hover{
    transform: scale(1.1);
}
