:root {
  --paragraph-font-size: 16px;
  --body-background-color: #ffffff;
  --grid-text-color: black;
  --underline-color: oklch(48.8% 0.243 264.376);
  --figcaption-text: rgb(0, 0, 130);
  --body-font: "Computer-Modern", sans-serif;
  --general-wrapper-width: 60rem;

  /* next/read more button */
  --next-button: rgb(26, 26, 26);
  --next-text: black;
  --next-border: #a9a9b3;

  /* line color compatible with both dark and light mode*/
  --contrast-line-color: #b4b4b4;

  --url-color: #2a7ae2;
  --url-hover-color: rgb(0, 194, 0);

  /* default li spacing*/
  --in-page-li-spacing: 15px;
}

body.dark-mode {
  --next-text: #ffffff;
}

/* Dark mode styles */
body.dark-mode {
  --body-background-color: #161616;
  --grid-text-color: #a9a9b3; /*#dddddd*/
  --code-box-color: #2a2a2a;
  --figcaption-text: #939393;

  /* articles */
  --article-color: #1f1f1f;
  --article-name-color: #dddddd;
  --article-description-color: #dddddd;
  --article-date-color: #aaa;
  --material-link-color: #aaa;
  --article-shadow-color: rgba(255, 255, 255, 0.1);
}

ul {
  line-height: 1.6;
  padding-left: 20px;
}

/* SIDE BAR */
:root {
  --fade-in-out-time: 0.5s;
  --slide-time: 0.5s;
  --li-border-color: rgb(183, 183, 183);
  --nav-bar-color: #f2f2f2;
  --nav-bar-text-color: rgb(0, 0, 130);
}

/* ON RESOURCES PAGE*/
:root {
  --material-background: white;
  --article-color-default: #fafafa;
  --article-color: #eaeaea;
  --article-name-color: #333;
  --article-description-color: black;
  --article-date-color: rgb(0, 0, 130);
  --material-link-color: #898989;
  --article-shadow-color: rgba(0, 0, 0, 0.2);
}

body.dark-mode {
  --material-background: rgb(38, 38, 38);
}

/* SIDE BAR */
:root {
  --side-nav-width: 375px;
  --highlight-drop-time: 0.8s;
  --highlight-opacity-time: 0.5s;
  --github-scroller: gray;
}

body.dark-mode {
  --github-scroller: #ddd;
  --nav-bar-color: #121212;
  --nav-bar-text-color: #c6c6ce;
  --dropdown-color: #121212;
  --dropdown-text-color: white;
}

/* TOP BAR */
:root {
  --top-bar-height: 60px;
  --toggle-bar: white;

  --dropdown-text-color: black;
  --dropdown-hover-color: #ddd;
  --highlight-dropdown-color: rgb(0, 0, 130);
  --search-item-border-color: #b0b0b0;

  /* top bar font */
  --top-bar-font: "Computer-Modern", serif;

  /* search bar*/
  --autocomplete-dropdown-color: #fff;
  --autocomplete-dropdown-border: #ccc;
  --autocomplete-dropdown-text-color: black;
  --autocomplete-item-container-hover: #f0f0f0;
  --autocomplete-dropdown-left-border: #0006b1;

  /* progress bar */
  --progressive-bar-height: 2px;
  --progressive-bar-color: oklch(0.577 0.245 27.325);

  /* share button */
  --share-button-position: 70px;

  /* activate when on page */
  --top-buttons-font-weight: 550;
  --top-buttons-hover-color: rgb(0, 185, 226);
}

body.dark-mode {
  --autocomplete-dropdown-color: #161616;
  --autocomplete-dropdown-border: #3b3b3b;
  --autocomplete-dropdown-text-color: #aaa;
  --autocomplete-item-container-hover: #3b3b3b;
  --autocomplete-dropdown-left-border: rgb(0, 150, 255);
  --dropdown-hover-color: #222222;
  --highlight-dropdown-color: rgb(0, 155, 190);
  --search-item-border-color: #8a8a8a;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  background-color: rgb(26, 26, 26);
  scroll-padding-top: 120px;
}

h1 {
  font-size: 2.5em;
  width: 100%;
  text-align: left;
  position: relative;
 
  z-index: 80;
}


h2 {
  margin: 80px 0 20px;
  font-size: 25px; /*1.95em*/
  border-bottom: 1px solid var(--contrast-line-color);
}

h3 {
  font-size: 1.3em;
  width: 100%;
  margin: 40px 0px 0px; /*top, left-right, bottom*/
  text-align: left;
  position: relative;
  padding-bottom: 0px;
  padding-top: 0px;
  z-index: 80;
}

h4 {
  font-size: 1.1em;
}



body {
  position: relative;
  background-color: var(--body-background-color);
  transition: width 0.3s, background-color 0.3s, color 0.3s; /* Smooth transition for padding changes */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* background: rgba(26, 26, 26, 1); */
}

/* loading animation */
/* body {
  opacity: 1;
  animation: fadeInAnimation ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
/*https://stackoverflow.com/questions/55826735/how-to-fix-lighthouse-returned-error-no-fcp-when-running-google-page-speed-t*/
/*----------------------*/

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #7b7b7b;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #434343;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* No padding when navbar is closed */
body.nav-open {
  transition: padding-left 0.5s ease;
  padding-left: var(--side-nav-width);
  margin-top: 0;
  padding-top: 0;
}

/* No padding when navbar is closed */
body.nav-closed {
  transition: padding-left 0.5s ease;
  padding-left: 0;
}

.topic {
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid var(--underline-color);
  max-width: 100%;
  min-width: 50%;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 17px;
}

.date {
  margin-top: 0;
  margin-bottom: 60px;
  color: var(--nav-bar-text-color);
  font-style: italic;
}

.content-grid {
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  text-align: justify; /* IMPORTANT: Stretch text to fill page*/
  background-color: var(
    --body-background-color
  );
  color: var(--grid-text-color);
  margin-top: var(
    --top-bar-height
  );
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  
}

.general-wrapper {
  font-family: var(--body-font);
  width: var(--general-wrapper-width);
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.general-wrapper > header {
  margin-top: 70px;
}

.general-wrapper::after {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
}

h2,
h3,
p {
  /* word break using hyphens*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p {
  font-size: var(--paragraph-font-size);
  min-width: 50px;
  line-height: 1.6;
  font-weight: 400;
  padding: 0;
  margin: 10px 0;
}

.two-columns-block {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1em;
}

.two-columns-block > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

caption,
figcaption {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--figcaption-text);
  font-family: inherit;
  font: inherit;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

caption {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

figcaption {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

figcaption::before {
  counter-increment: fig;
  content: "Fig. " counter(fig) ": ";
}

caption::before {
  counter-increment: table_;
  content: "Table. " counter(table_) ": ";
}

.two-columns-block > div {
  flex: 1; /* Each child div will take up equal space */
  padding: 0px; /* Optional padding for spacing */
}

.image-block {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 1080px) {
  .image-block {
    width: 80% !important;
  }
}
@media all and (max-width: 580px) {
  .image-block {
    width: 100% !important;
  }
}

.line-6, .line-7 {
  margin-left: auto;
  margin-right: auto;
  background: #b4b4b4;
  height: 0.5px;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-6 {
  display: none;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}


ol.reference {
  justify-self: start;
  line-height: 1.6;
  position: relative;
  text-align: justify;
  counter-reset: item;
  padding-left: 0;
}

ol.reference li {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 2em;

  word-wrap: break-word; /* Allows breaking within words */
  overflow-wrap: break-word; /* Ensures text wraps within elements */
  /* word break using hyphens*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

ol.reference li::before {
  display: inline-block;
  text-align: left;
  content: "[" counter(item) "]\00a0";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

ol.steps {
  line-height: 1.6;
  counter-reset: step;
  list-style: none;
}

ol.steps .step::before {
  margin: 10px 0;
  display: inline-block;
  content: "STEP " counter(step) ".\00a0";
  counter-increment: step;
}

.custom-select {
  position: relative;
}

.custom-select select {
  width: 100%;
  font-size: inherit;
  height: 100%;
  padding: 0.5em 0em 0.5em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #111111; /*#41617A*/
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer-container {
  font-family: "Computer-Modern", Arial;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-footer {
  margin: 10px 0px;
}

.social-media-footer a {
  color: white;
  margin: 0px 8px;
  text-decoration: none;
}

.footer-block {
  flex: 1;
  padding: 10px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}



.image {
  display: block;
  max-height: 100%;
  margin: auto;
  border-radius: 7px;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: contain;
}
@media all and (max-width: 1385px) {
  .image {
    width: 100%;
    max-width: 100%;
  }
}

.caption {
  text-align: center;
}

.url {
  color: var(--url-color);
  text-decoration: none;
}
.url:hover {
  color: var(--url-hover-color);
  cursor: pointer;
}
.hyperlink {
  text-decoration: none;
  color: inherit;
}
.hyperlink:hover {
  text-decoration: underline;
  color: var(--url-hover-color);
}

.Quote {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  font-style: italic;
  font-family: serif;
  position: relative;
  /* background: var(--nav-bar-color); */
}
@media all and (max-width: 580px) {
  .Quote {
    width: 100%;
  }
}
.Quote-content {
  font-size: 1.1em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 25px;
  padding-right: 25px;

}

.Author {
  font-size: 1.1em;
  text-align: right;
  position: relative;
}

/* .Quote::before {
  position: absolute;
  content: "";
  background: var(--underline-color);
  height: 2px;
  width: 15%;
  bottom: 0;
  left: 0;
} */

.Quote::after {
  position: absolute;
  content: "";
  background: var(--underline-color);
  height: 100%;
  width: 2px;
  bottom: 0;
  left: 0;
}

.in-page-link {
  text-decoration: underline;
  color: var(--url-color);
  text-decoration-thickness: 1px;
}

table {
  margin: 16px 0px;
  border-collapse: collapse;
}

.table-wrapper {
  overflow-x: auto;
}

@media all and (max-width: 580px) {
  table {
    width: 100% !important;
  }
}

table,
th,
td {
  border: 0;

  border-left: none;
  border-right: none;
}

th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.th {
  text-align: center;
  vertical-align: middle;
}

.redirect-button {
  min-width: 80px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 20px auto;
  background-size: 200%;
  border: 1px solid var(--next-border);
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 18px;
  color: var(--next-text);
  font-weight: 500;
  text-decoration: none;
}

.redirect-button:hover {
  color: #2a7ae2;
}


#post-container ul {
  padding-left: 40px;
}


.post {
  text-decoration: none;
  color: inherit;
}

.post-date {
  color: var(--nav-bar-text-color);
}

.post:hover h3 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.post-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.post-header-row h3,
.post-header-row .post-date {
  margin: 0;
}

.post-date {
  position: relative;
  white-space: nowrap;
}

@media all and (max-width: 580px){
  #post-container ul {
    padding-left: 10px;
  }
  .post-header-row {
    flex-direction: column;
    align-items: start;
  }
}


.bullet {
  margin: var(--in-page-li-spacing) 0;
  padding-left: 0;
}
.bullet ul {
  padding-left: 15px; /* default is usually 40px */
  margin-left: 0;
}