@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/******** ARTICLE *********/
#rec-article-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    /* repeat(auto-fit, minmax(200px, 1fr)) */
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    margin: 0 auto;
}

@media all and (max-width: 580px){
    #rec-article-container{
        grid-template-columns: 1fr;
        margin: 0;
    }
}


.article {
    display: flex;
    flex-direction: column;
    background-color: var(--article-color);
    box-shadow: 0 4px 8px var(--article-shadow-color);
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.2s ease;
    color: black;
    margin: 0;
    height: auto;

    
}

.article:hover, .article:active {
    transform: scale(1.02);
}


.article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: var(--article-img-border) solid 0.1px;
}
:root{
    --article-img-border: #d7d7d7;
}
body.dark-mode{
    --article-img-border: #484848;
}


.article-name {
    font-size: 19px;
    margin: 10px 0 0;
    text-align: center;
    color: var(--article-name-color); 
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: var(--nav-line-color) solid 1px;
    /* height: 100%; */
    justify-content: center;
}

.article-topic{
    font-size: 12px;
    color: var(--article-date-color);
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 2px;
    font-weight: bold;
    padding-bottom: 10px;
}

.article-description{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;
    color: var(--article-description-color);
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    /* 
        enable this along with .article display: flex and flex-direction column
        delete this and .article display: flex and flex-direction column if we want the date to not
        at the bottom
    */
    height: 100%;
}

.article-date{
    margin: 10px;
    font-size: 12px;
    text-align: left;
    font-style: italic;
    color: var(--article-date-color);
}



:root{
    /* --black-svg-filters: invert(0%) sepia(91%) saturate(7500%) hue-rotate(349deg) brightness(89%) contrast(96%); */
    --black-svg-filters: invert(100%) sepia(100%) saturate(1%) hue-rotate(318deg) brightness(109%) contrast(101%);
    --social-media-container-color: rgb(26, 26, 26);
}

.social-media-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    max-width: 60%;
    height: 70px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--social-media-container-color); /*#f9f9f9*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}


.social-contact-items{
    margin: 10px auto;
    filter: var(--black-svg-filters);
}

.social-contact-items:hover{
    /* filter: invert(73%) sepia(47%) saturate(7184%) hue-rotate(163deg) brightness(105%) contrast(105%); */
    transform: scale(1.15);
    transition: 3s background-color ease;
}
@media all and (max-width: 910px){
    .social-media-container{
        max-width: 80%;
    }
}
@media all and (max-width: 780px){
    .social-media-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 140px;
        max-width: 100%;
    }
}

#reddit:hover{
    filter: invert(39%) sepia(25%) saturate(5670%) hue-rotate(0deg) brightness(102%) contrast(106%);
}
#discord:hover{
    /* filter: invert(13%) sepia(51%) saturate(5708%) hue-rotate(265deg) brightness(89%) contrast(94%); */
    filter: invert(57%) sepia(100%) saturate(3662%) hue-rotate(238deg) brightness(83%) contrast(93%);
}
#github:hover{
    fill: url(#github-gradient);
    filter: none;
}
#instagram:hover{
    /* filter: invert(24%) sepia(69%) saturate(4389%) hue-rotate(319deg) brightness(90%) contrast(86%); */
    fill: url(#instagram-gradient);
    filter: none;
}
#linkedin:hover{
    filter: invert(29%) sepia(94%) saturate(892%) hue-rotate(170deg) brightness(98%) contrast(105%);
}
#onlyfans:hover{
    filter: invert(69%) sepia(37%) saturate(7491%) hue-rotate(160deg) brightness(94%) contrast(107%);
}

#contact-ul li {
    margin: 12px 0;
}



.material-container{
    display: grid;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90%;
    margin: 0 auto;
}
.materials{
    background-color: var(--article-color);
    border-radius: 10px;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 350px; 
    column-gap: 20px;
    box-shadow: 0 4px 8px var(--article-shadow-color);
}
.materials-left, .materials-right{
    height: inherit;
    display: flex;
    height: auto;
    /*height: auto; for uneven, but fit tabs*/
    min-height: 190px;
}

.materials-left{
    display: flex;
    flex-direction: column;
}

:root{
    --material-background: white;
}

body.dark-mode {
    --material-background: rgb(38, 38, 38);
}

.materials-right{
    background: var(--material-background);
    border-radius: 10px;
    border: 1px solid var(--nav-line-color);
    overflow: hidden; /* for book zooming effect*/
    /* padding-top: 2px;
    padding-bottom: 2px; */
}
.material-title{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word; /* Allows breaking within words */
    overflow-wrap: break-word; /* Ensures text wraps within elements */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.material-link{
    font-size: 14px;
    color: var(--material-link-color); /*#898989*/
    text-align: justify;
    width: 100%;
}


.materials-right img{
    /* width: 100%; */
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    object-fit: contain;
    max-width: 150px;
    transition: all .3s ease;
}

.materials-right img:hover{
    transform: scale(1.1);
}


#tao-analysis{
    max-width: 200px;
}

.material-description{
    font-size: 16px;
    min-width: 50px;
    line-height: 1.6;
    padding: 10px 0;
    margin-top: 2px;
    border-top: 1px solid var(--nav-line-color);
    overflow-wrap: break-word; /* Ensures text wraps within elements */
    /* word break using hyphens*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    height: 100%;
}

.author{
    font-size: 0.8em;
    font-style: italic;
    width: 100%;
    text-align: right;
}
@media all and (max-width: 1080px){
    .materials{
        grid-template-columns: 1fr 200px;
    }
    .materials-left, .materials-right{
        height: auto;
    }
}
@media all and (max-width: 580px){
    .material-title{
        font-size: 1.2em;
    }
    .line-6{
        display: block;
    }
    .materials{
        padding-top: 20px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
        height: auto;
    }
    .materials-left{
        height: auto;
    }
    .materials-right{
        margin-top: 10px;
        height: auto;
    }
    .materials-right img{
        max-width: 60%;
    }
    .material-container{
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

#books, #lecture-notes, #websites, #youtube, #calculus, #de, #DSA, #linear-algebra, #others{
    border-bottom: 1px solid var(--nav-line-color);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Read-More{
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background: rgb(26, 26, 26) ;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Roboto Slab", serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #A9A9B3;
    transition: transform 0.1s ease;
    position: relative;
}
.Read-More:hover{
    transform: scale(1.04);
    text-decoration: underline;
    /* padding-left: 40px;
    padding-right: 40px; */
    cursor: pointer;
}

.contact-box{
    margin: 40px 0;
    border: 1px solid var(--grid-text-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--body-background-color);
    color: var(--grid-text-color);
    padding: 0.8rem;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 40vw;
    text-align: justify;
}
.contact-box-left{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
/* .contact-box-right-inner{
    display: flex;
    flex-direction: column;
} */
.contact-box-right-inner{
    display: flex;
    flex-direction: column;
}
#contact-email{
    color: var(--grid-text-color);
}

#contact-email:hover{
    color: var(--url-color);
}
 
@media all and (max-width: 1080px){
    .contact-box{
        max-width: 60%;
    }
}
@media all and (max-width: 580px){
    .contact-box{
        grid-template-columns: 1fr;
        max-width: 70%;
    }
}
:root{
    --location-icon: invert(7%) sepia(3%) saturate(5%) hue-rotate(352deg) brightness(108%) contrast(87%);
}
#location-icon{
    
    filter: var(--location-icon);
}

body.dark-mode{
    --location-icon: invert(74%) sepia(4%) saturate(499%) hue-rotate(202deg) brightness(91%) contrast(92%);
}




