#rec-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 580px) {
  #rec-article-container {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  transition: transform 0.2s ease;
  color: black;
  margin: 0;
  height: auto;
}

.article-image-container {
  padding: 0;
  overflow: hidden; /* Prevents the image from exceeding the container */
  border-radius: 0.5rem;
}

.article img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  object-fit: cover;
  border-radius: 0.5rem;
}

.article:hover .article-image-container img {
  transform: scale(1.03);
}

.article:hover .article-name {
  text-decoration: underline;
}

.article-name {
  font-size: 19px;
  margin: 10px 0 0;
  text-align: left;
  color: var(--article-name-color);
  font-weight: bold;
  padding-bottom: 10px;
  justify-content: center;
}

.article-topic {
  font-size: 12px;
  color: var(--article-date-color);
  margin-top: 2px;
  margin-right: 2px;
  font-weight: bold;
  padding-bottom: 10px;
}

.article-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4;
  color: var(--grid-text-color);
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* height: 100%; */
}

.article-date {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
  font-style: italic;
  color: var(--article-date-color);
}



.home-h3-headers {
  font-size: 1.5em;
  border-bottom: 1px solid var(--contrast-line-color);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


