@import url("general.css");
@import url("sidebar.css");
@import url("topbar.css");
@import url("resize.css");
@import url("main-pages.css");
@import url("code-and-math.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.css"); /* Code line num */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@font-face {
  font-family: "Computer-Modern";
  font-weight: normal;
  src: url("../fonts/computer-modern/cmunrm.woff") format("woff");
}

@font-face {
  font-family: "Computer-Modern";
  font-weight: bold;
  src: url("../fonts/computer-modern/cmunbx.woff") format("woff");
}

@font-face {
  font-family: "Computer-Modern";
  font-style: italic;
  src: url("../fonts/computer-modern/cmunsl.woff") format("woff");
}

/*
    This website was created on June 20, 2024, but most information 
    here have been available since December 2022 via LaTeX documents
    made by me. 
*/

/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠟⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠻⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⠉⠁⠀⠀⢀⣠⣤⣤⣤⣤⣤⣄⣀⠀⠀⠀⠀⠀⠈⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠀⠀⠀⠀⣠⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⡀⠀⠀⠀⠀⠀⠀⠉⠛⠻⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠃⢀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡄⠀⢠⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣧⡀⠃⢠⡄⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣌⣹⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡷⠄⠈⠁⠀⢸⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⠿⣿⣿⣿⡄⠀⠀⠀⢀⡴⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣶⣦⡀⠀⢸⣿⣿⣿⣷⡄⠀⠈⠉⠻⠟⣿⣿⣿⠿⠟⠁⠀⠀⢐⣶⣾⣿⣿⣿⡄⠀⠀⢀⣤⡀⢹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠠⣿⣧⡁⢀⣿⣿⣿⡿⠟⠛⠉⠀⠀⠀⣠⣿⣿⠀⠀⠀⠀⠀⠈⠙⠻⢿⣿⣿⣿⡇⠀⠐⣿⠉⢹⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣷⣿⠃⣼⣿⣿⣧⣴⣾⠷⠆⠀⠀⣰⣿⣿⣿⠀⠀⠰⣿⠷⠾⠷⢢⣄⣀⢹⣿⣏⠀⠰⣷⠀⡈⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣏⢸⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⡇⠂⠀⠹⣿⣿⣿⣿⣿⣿⣾⣿⡇⠀⠀⢹⠰⠀⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⡎⢿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⡀⠀⢻⣿⣿⣿⣿⣿⣿⣿⡇⠀⢠⠀⠀⢸⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣦⠻⣿⣿⠇⢻⣿⣿⣿⣿⣿⡿⢡⣾⠛⠛⠿⠟⠛⠿⠻⠇⠀⠙⢿⣿⣿⣿⣿⣿⡇⠀⠻⣠⠃⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⣈⣉⣄⢸⣿⣿⣿⣿⣿⣠⣿⣿⣿⣿⣶⣦⣀⣀⠀⣶⡿⢀⠈⢿⡇⠸⡏⣿⣇⠀⠞⢁⣼⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢸⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣯⣤⣿⣿⣾⣿⣿⡏⢠⡈⡇⠀⡿⣿⣿⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⠃⢀⣬⣉⣭⣤⣤⣶⣦⣤⣄⣄⣀⠀⢸⣿⡇⢠⣿⣿⠟⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⢸⣭⣿⣿⣿⣷⣿⣿⣿⣿⣿⠉⣉⣉⣉⣉⣿⡿⠀⣾⡟⢁⣾⣿⠏⠀⣶⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡷⢈⣉⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣀⣼⡿⠋⢠⡆⢻⣧⠘⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣡⡾⢹⣿⣯⡝⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣭⣿⣿⠟⠋⠀⢠⠏⢀⠞⢻⣷⡜⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⠿⠟⢛⣩⣭⣴⣾⣿⣧⠈⣿⣿⣿⣦⣙⠻⠿⠿⠿⠿⠿⠛⠉⠀⠙⠛⠋⠉⠀⢀⡴⠃⣠⡾⠀⣾⠟⠛⢶⣿⣿⣿⣿⣿⣿
⠟⣛⣫⣭⣥⣶⣾⣿⣿⣿⣿⣿⣿⣿⡆⢹⣿⣿⣿⣿⣶⣄⠀⠀⠀⠐⠚⠛⠛⠉⠀⠀⢀⣴⠟⢀⣾⣿⣿⣾⣍⡷⠀⠀⠈⠛⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⢿⣛⢻⣿⣿⣿⣿⣶⢄⡀⠘⠀⠀⢠⡴⠛⢁⣴⣿⣿⣿⣿⣧⣤⡅⠀⠀⠀⠀⠀⠈⠛⠛
⢿⣿⠿⠿⠿⠿⠿⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⠷⠌⠙⠛⠛⠀⠀⠀⣠⡴⠞⠉⠀⣴⡿⣿⣿⣿⢿⣿⣿⡿⢳⣧⠀⠀⠀⠀⠀
*/

