/*
 * Search Component
 * Search bar, autocomplete, and search overlay
 */

.search-bar-container {
  position: relative;
  margin-left: 0px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 24px;
  transition: width 0.3s ease;
}

.search-bar-container.expanded {
  transition: width 0.3s ease-in-out;
  width: 100%;
}

.search-bar,
.search-bar-mobile {
  width: 100%;
  height: 28px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(186, 186, 186);
  color: rgba(255, 255, 255, 0.75);
  background: #272727;
}

.search-bar-mobile {
  display: none;
}

input.search-bar-mobile,
input.search-bar {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ccc"><path d="M21.71 20.29l-5.4-5.39a8 8 0 1 0-1.42 1.42l5.39 5.4a1 1 0 0 0 1.42-1.42zM4 10a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path></svg>');
  background-size: 18px 18px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

input.search-bar-mobile:focus,
input.search-bar:focus {
  border: 2px solid rgb(0, 145, 255);
  outline: none;
}

.search-bar::placeholder,
.search-bar-mobile::placeholder {
  font-family: "Jura", sans-serif;
  font-size: 14px;
  padding-left: 3px;
  font-weight: bold;
  color: rgb(152, 152, 152);
}

/* Search overlay */
.search-overlay {
  margin-top: var(--top-bar-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.search-bar-container.expanded + .search-overlay {
  display: block;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/* Autocomplete dropdown */
.autocomplete-dropdown {
  font-family: "Computer-Modern", Arial;
  font-size: 15px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: var(--autocomplete-dropdown-text-color);
  border: 1px solid var(--autocomplete-dropdown-border);
  text-decoration: none;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: var(--autocomplete-dropdown-color);
  max-height: 70vh;
  overflow-y: auto;
  z-index: 10000;
  display: none;
}

.autocomplete-item-container {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item-container:hover,
.autocomplete-active {
  border-left: 3px solid var(--autocomplete-dropdown-left-border);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 5px center;
  background-color: var(--autocomplete-item-container-hover);
}

.autocomplete-item-container a {
  text-decoration: none;
  color: inherit;
}