/*!
 * Neumann Condition Website Styles
 * Organized CSS architecture for better maintainability
 * Created: June 2024, Reorganized: November 2025
 * 
 * Architecture:
 * - base/: Foundational styles (variables, fonts, reset, typography)
 * - layout/: Grid systems and page structure
 * - components/: Reusable UI components
 * - pages/: Page-specific styles
 * - utils/: Utilities (responsive, animations)
 * - vendors/: Third-party CSS imports
 */

/* === VENDORS === */
/* Import external libraries and fonts first */
@import url("vendors/_external.css");

/* === BASE === */
/* Core foundation styles */
@import url("base/_variables.css");
@import url("base/_fonts.css");
@import url("base/_reset.css");
@import url("base/_typography.css");

/* === LAYOUT === */
/* Grid systems and page structure */
@import url("layout/_grid.css");

/* === COMPONENTS === */
/* Reusable UI components */
@import url("components/_topbar.css");
@import url("components/_search.css");
@import url("components/_sidebar.css");
@import url("components/_banner.css");
@import url("components/_buttons.css");
@import url("components/_forms.css");
@import url("components/_code-blocks.css");
@import url("components/_content.css");

/* === PAGES === */
/* Page-specific styles */
@import url("pages/_home.css");

/* === UTILITIES === */
/* Responsive design and utilities - loaded last to override as needed */
@import url("utils/_responsive.css");

/*
 * ASCII Art Header (preserved from original)
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠟⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠻⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⠉⠁⠀⠀⢀⣠⣤⣤⣤⣤⣤⣄⣀⠀⠀⠀⠀⠀⠈⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠀⠀⠀⠀⣠⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⡀⠀⠀⠀⠀⠀⠀⠉⠛⠻⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠃⢀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡄⠀⢠⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣧⡀⠃⢠⡄⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣌⣹⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡷⠄⠈⠁⠀⢸⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⠿⣿⣿⣿⡄⠀⠀⠀⢀⡴⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣶⣦⡀⠀⢸⣿⣿⣿⣷⡄⠀⠈⠉⠻⠟⣿⣿⣿⠿⠟⠁⠀⠀⢐⣶⣾⣿⣿⣿⡄⠀⠀⢀⣤⡀⢹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠠⣿⣧⡁⢀⣿⣿⣿⡿⠟⠛⠉⠀⠀⠀⣠⣿⣿⠀⠀⠀⠀⠀⠈⠙⠻⢿⣿⣿⣿⡇⠀⠐⣿⠉⢹⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣷⣿⠃⣼⣿⣿⣧⣴⣾⠷⠆⠀⠀⣰⣿⣿⣿⠀⠀⠰⣿⠷⠾⠷⢢⣄⣀⢹⣿⣏⠀⠰⣷⠀⡈⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣏⢸⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⡇⠂⠀⠹⣿⣿⣿⣿⣿⣿⣾⣿⡇⠀⠀⢹⠰⠀⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⡎⢿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⡀⠀⢻⣿⣿⣿⣿⣿⣿⣿⡇⠀⢠⠀⠀⢸⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣦⠻⣿⣿⠇⢻⣿⣿⣿⣿⣿⡿⢡⣾⠛⠛⠿⠟⠛⠿⠻⠇⠀⠙⢿⣿⣿⣿⣿⣿⡇⠀⠻⣠⠃⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⣈⣉⣄⢸⣿⣿⣿⣿⣿⣠⣿⣿⣿⣿⣶⣦⣀⣀⠀⣶⡿⢀⠈⢿⡇⠸⡏⣿⣇⠀⠞⢁⣼⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢸⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣯⣤⣿⣿⣾⣿⣿⡏⢠⡈⡇⠀⡿⣿⣿⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⠃⢀⣬⣉⣭⣤⣤⣶⣦⣤⣄⣄⣀⠀⢸⣿⡇⢠⣿⣿⠟⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⢸⣭⣿⣿⣿⣷⣿⣿⣿⣿⣿⠉⣉⣉⣉⣉⣿⡿⠀⣾⡟⢁⣾⣿⠏⠀⣶⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡷⢈⣉⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣀⣼⡿⠋⢠⡆⢻⣧⠘⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣡⡾⢹⣿⣯⡝⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣭⣿⣿⠟⠋⠀⢠⠏⢀⠞⢻⣷⡜⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⠿⠟⢛⣩⣭⣴⣾⣿⣧⠈⣿⣿⣿⣦⣙⠻⠿⠿⠿⠿⠿⠛⠉⠀⠙⠛⠋⠉⠀⢀⡴⠃⣠⡾⠀⣾⠟⠛⢶⣿⣿⣿⣿⣿⣿
⠟⣛⣫⣭⣥⣶⣾⣿⣿⣿⣿⣿⣿⣿⡆⢹⣿⣿⣿⣿⣶⣄⠀⠀⠀⠐⠚⠛⠛⠉⠀⠀⢀⣴⠟⢀⣾⣿⣿⣾⣍⡷⠀⠀⠈⠛⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⢿⣛⢻⣿⣿⣿⣿⣶⢄⡀⠘⠀⠀⢠⡴⠛⢁⣴⣿⣿⣿⣿⣧⣤⡅⠀⠀⠀⠀⠀⠈⠛⠛
⢿⣿⠿⠿⠿⠿⠿⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⠷⠌⠙⠛⠛⠀⠀⠀⣠⡴⠞⠉⠀⣴⡿⣿⣿⣿⢿⣿⣿⡿⢳⣧⠀⠀⠀⠀⠀

    This website was created on June 20, 2024, but most information 
    here have been available since December 2022 via LaTeX documents.
*/