<div class="home-banner" id="home-banner">
  <div class="left-section-banner">
    <canvas id="bannerCanvas" width="80" height="50"></canvas>
  </div>
  <div class="right-section-banner">
    <img
      src="/public/Images/code-banner.webp"
      alt="Banner Image"
      decoding="async"
    />
    <span class="banner-title">neumanncondition</span>
  </div>
</div>
