---
/**
 * Footer.astro
 * ============
 */
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<div class="footer-container" id="contact">
  <div class="footer-block">
    <div
      class="footer-items"
      style="border-top: 1px solid red; padding-top: 12px"
    >
      Copyright &copy; 2023-{currentYear}. All rights reserved.
    </div>
    <div class="footer-items">
      <a href="/privacy-policy" class="hyperlink">Privacy Policy</a>
    </div>
    <div class="footer-items">
      Text is available under &nbsp;<a href="https://github.com/hilbertcube/hilbertcube.github.io/blob/main/CONTENT_LICENSE.md" class="hyperlink"
        >CC BY-NC 4.0 license</a
      >
    </div>
    <div class="footer-items">
      <a href="https://ddonle.com/" class="hyperlink">Don D. Le</a>
    </div>
  </div>
  <div class="social-media-footer">
    <a href="https://ddonle.com/" target="_blank" aria-label="Personal website">
      <Icon name="globe" style="font-size: 23px; color: oklch(60.231% 0.19661 140.668);" />
    </a>
    <a href="mailto:ddonle04@ucla.edu" target="_blank" aria-label="Email">
      <Icon name="envelope" style="font-size: 23px; color: oklch(86.9% 0.022 252.894);" />
    </a>
    <a
      href="https://github.com/hilbertcube"
      target="_blank"
      aria-label="GitHub"
    >
      <Icon name="github" prefix="fab" style="font-size: 25px;" />
    </a>
    <a
      href="https://www.linkedin.com/in/don-d-le/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <Icon name="linkedin" prefix="fab" style="font-size: 25px; color: #0a66c2;" />
    </a>
    <a href="https://t.me/doodle_04" target="_blank" aria-label="Telegram">
      <Icon name="telegram" prefix="fab" style="font-size: 25px; color: #24A1DE;" />
    </a>
  </div>
</div>
