---
/**
 * Logo.astro
 * ==========
 */
import { Image } from 'astro:assets';
import logoSrc from '../assets/images/Logo/pendulum_logo.webp';
import Icon from './Icon.astro';
---

<div id="logo">
  <a
    href="https://github.com/hilbertcube/neumanncondition"
    class="logo-link"
  >
    <Image
      id="logoImage"
      src={logoSrc}
      alt="website-logo"
      widths={[150, 300, 450]}
      sizes="(max-width: 600px) 150px, 300px"
    />
    <div class="logo-title">
      neumanncondition.com <Icon name="up-right-from-square" style="font-size:14px" />
    </div>
  </a>
</div>

<div class="side-nav-container">
  <details open class="side-nav">
    <summary class="side-summary">Navigation</summary>
    <ul>
      <li>
        <a class="side-buttons" href="/">
          <summary class="side-nav-summary" id="Home-button">HOME</summary>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/about" id="About-button">
          <summary class="side-nav-summary">ABOUT</summary>
        </a>
      </li>
      <!-- <li>
        <a class="side-buttons" href="/notes" id="Note-button">
          <summary class="side-nav-summary">NOTES</summary>
        </a>
      </li> -->
      <li>
        <a
          class="side-buttons"
          href="/recommended-materials"
          id="Material-button"
        >
          <summary class="side-nav-summary">RESOURCES</summary>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/tags/">
          <summary class="side-nav-summary" id="Archive-button">ARCHIVE</summary
          >
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/privacy-policy/" id="Contact-button">
          <summary class="side-nav-summary">Policy</summary>
        </a>
      </li>
    </ul>
  </details>
</div>

<style>
  .logo-link {
    text-decoration: none;
    color: inherit;
  }

  #logoImage {
    width: 45%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .logo-title {
    font-family: Computer-Modern;
    text-align: center;
    font-size: 1.6em;
  }
</style>
