---
/**
 * PostList.astro
 * ==============
 */
import fs from "node:fs";
import path from "node:path";

const jsonPath = path.resolve("public/assets/json/articles.json");
const articlesData = JSON.parse(fs.readFileSync(jsonPath, "utf-8"));
const posts = articlesData.posts || [];
---

<div id="post-container">
  {
    posts.length === 0 ? (
      <p>No posts available</p>
    ) : (
      <ul class="post-list">
        {posts.map((post: any) => (
          <li>
            <div>
              <a href={post.link} class="post">
                <div class="post-header-row">
                  <h3>{post.title}</h3>
                  <div class="post-date">{post.date}</div>
                </div>
                <p>{post.description}</p>
              </a>
            </div>
          </li>
        ))}
      </ul>
    )
  }
</div>
