---
/**
 * ShareButton.astro
 * =================
 */
import Icon from './Icon.astro';
---

<button
  aria-label="social-media-button"
  class="share-button"
  onclick="toggleShareOptions(event)"
>
  <Icon name="share-nodes" id="share-expand" />
  <span class="share-tooltip">Share this page</span>
</button>

<div class="share-options" id="shareOptions">
  <abbr title="facebook">
    <button
      class="share-option"
      onclick='sharePage(event,"facebook")'
      id="share-facebook"
    >
      <Icon name="facebook" prefix="fab" />
    </button>
  </abbr>
  <abbr title="Twitter">
    <button
      class="share-option"
      onclick='sharePage(event,"twitter")'
      id="share-twitter"
    >
      <Icon name="x-twitter" prefix="fab" />
    </button>
  </abbr>
  <abbr title="Whatsapp">
    <button
      class="share-option"
      onclick='sharePage(event,"whatsapp")'
      id="share-whatsapp"
    >
      <Icon name="whatsapp" prefix="fab" />
    </button>
  </abbr>
  <abbr title="Reddit">
    <button
      class="share-option"
      onclick='sharePage(event,"reddit")'
      id="share-reddit"
    >
      <Icon name="reddit" prefix="fab" />
    </button>
  </abbr>
  <abbr title="Hacker News">
    <button
      class="share-option"
      onclick='sharePage(event,"hackernews")'
      id="share-hackernews"
    >
      <Icon name="hacker-news" prefix="fab" />
    </button>
  </abbr>
  <abbr title="Telegram">
    <button
      class="share-option"
      onclick='sharePage(event,"telegram")'
      id="share-telegram"
    >
      <Icon name="telegram" prefix="fab" />
    </button>
  </abbr>
</div>
