---
/**
 * ShareButton.astro
 * =================
 */
---

<button
  aria-label="social-media-button"
  class="share-button"
  onclick="toggleShareOptions(event)"
>
  <i class="fa-solid fa-share-nodes" aria-hidden="true" id="share-expand"></i>
  <span class="share-tooltip">Share this page</span>
</button>

<div class="share-options" id="shareOptions">
  <abbr title="facebook">
    <button
      class="share-option"
      onclick='sharePage(event,"facebook")'
      id="share-facebook"
    >
      <i class="fa-brands fa-facebook" aria-hidden="true"></i>
    </button>
  </abbr>
  <abbr title="Twitter">
    <button
      class="share-option"
      onclick='sharePage(event,"twitter")'
      id="share-twitter"
    >
      <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
    </button>
  </abbr>
  <abbr title="Whatsapp">
    <button
      class="share-option"
      onclick='sharePage(event,"whatsapp")'
      id="share-whatsapp"
    >
      <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
    </button>
  </abbr>
  <abbr title="Reddit">
    <button
      class="share-option"
      onclick='sharePage(event,"reddit")'
      id="share-reddit"
    >
      <i class="fa-brands fa-reddit" aria-hidden="true"></i>
    </button>
  </abbr>
  <abbr title="Hacker News">
    <button
      class="share-option"
      onclick='sharePage(event,"hackernews")'
      id="share-hackernews"
    >
      <i class="fa-brands fa-hacker-news" aria-hidden="true"></i>
    </button>
  </abbr>
  <abbr title="Telegram">
    <button
      class="share-option"
      onclick='sharePage(event,"telegram")'
      id="share-telegram"
    >
      <i class="fa-brands fa-telegram" aria-hidden="true"></i>
    </button>
  </abbr>
</div>
