---
/**
 * src/pages/posts/avg-engr-exp/index.astro
 * ==========================================
 */
import BaseLayout from "../../../layouts/BaseLayout.astro";
import fs from "node:fs";
import path from "node:path";

const data = JSON.parse(
  fs.readFileSync(path.resolve("public/assets/json/articles.json"), "utf-8"),
);
const slug = Astro.url.pathname.replace(/\/$/, "");
const meta = data.posts.find((p: any) => p.link.replace(/\/$/, "") === slug);
---

<BaseLayout
  title="Post - Average Engineering Experience"
  description="This is the homepage"
  keywords="math, physics, programming, coding, computer science"
>
  <div class="content-grid">
    <header>
      <div class="topic">Topics: {meta.topics.join(", ")}</div>
      <h1 class="post-title">{meta.title}</h1>
      <div class="date">{meta.date}</div>
    </header>

    <section>
      <p>
        Conversation from a group project for this class (electrical circuits).
      </p>
      <div
        style="display: flex; justify-content: center; align-items: center; margin: 30px 0;"
      >
        <img
          src="/posts/avg-engr-exp/engineering.webp"
          alt="Average Engineering Experience"
          style="width: 100%; max-width: 520px; height: auto"
        />
      </div>
      <p>Experience rating: absolute dog water</p>
    </section>
  </div>
</BaseLayout>
