/*
 * Responsive Design
 * Media queries organized by breakpoint
 */

/* === LARGE SCREENS (1800px+) === */
@media all and (min-width: 1800px) {
  :root {
    --top-bar-height: 70px;
  }
  
  .material-container {
    max-width: 70%;
  }
  
  .search-bar-container {
    max-width: 700px;
  }
}

/* === DESKTOP (1385px - 1799px) === */
@media all and (max-width: 1385px) {
  .equation {
    overflow-y: hidden;
  }
  
  .general-wrapper {
    width: 60vw;
  }
  
  .image {
    width: 100%;
    max-width: 100%;
  }
  
  .right {
    padding-left: 0px;
  }
  
  .top-buttons,
  .dropbtn {
    font-size: 1.35em;
  }
}

/* === TABLET LANDSCAPE (1200px - 1384px) === */
@media all and (max-width: 1200px) {
  .buttons-container {
    width: 80px;
  }
  
  .general-wrapper {
    width: 80%;
  }
  
  :root {
    --side-nav-width: 350px;
  }
  
  .top-nav {
    justify-content: start;
    height: var(--top-bar-height);
  }
  
  body.nav-open {
    padding-left: 0;
    padding-right: 0;
  }
  
  .right {
    width: 100%;
  }
  
  .toggle-btn:hover .bar {
    background-color: white;
  }
  
  .top-buttons:hover,
  .dropbtn:hover {
    color: white;
  }
  
  .home-banner {
    min-height: 100px;
    height: 350px;
  }
  
  .search-bar {
    display: none;
  }
  
  .search-bar-mobile {
    display: inline-block;
  }
}

/* === TABLET PORTRAIT (1080px - 1199px) === */
@media all and (max-width: 1080px) {
  .general-wrapper {
    width: 90%;
  }
  
  .search-bar-container {
    width: 100%;
    max-width: 100%;
  }
  
  .side-nav {
    display: block;
  }
  
  .left {
    display: none;
  }
  
  .footer-title {
    width: 20%;
  }
  
  .image-block {
    width: 80% !important;
  }
  
  .banner-title {
    font-size: 2.3rem;
  }
  
  .right {
    max-width: none;
  }
}

/* === MOBILE (580px - 1079px) === */
@media all and (max-width: 580px) {
  /* Layout adjustments */
  .buttons-container {
    gap: 6px;
    width: 50px;
    padding-left: 7px;
  }
  
  .rss {
    display: none;
  }
  
  :root {
    --side-nav-width: 330px;
    --gear-button-height: 25px;
  }
  
  .switch {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  /* Typography adjustments */
  h1.title,
  h1.home-title {
    font-size: 1.9em;
  }
  
  h2 {
    font: 1.4em;
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  /* Navigation */
  body.nav-open {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Code blocks */
  pre[class*="language-"] {
    font-size: 10px;
    line-height: 1.5;
  }
  
  .dark-mode pre[class*="language-"] {
    font-size: 10px;
    line-height: 1.5;
  }
  
  .box {
    width: 85%;
    max-width: 100%;
  }
  
  /* Layout components */
  .two-columns-block {
    flex-direction: column;
  }
  
  .image-block {
    width: 100% !important;
  }
  
  /* Settings and modals */
  #settings_window {
    max-width: 80%;
  }
  
  .settings_window-container {
    grid-template-columns: 150px 1fr;
    font-size: 12px;
  }
  
  .custom-select select {
    height: 30px;
  }
  
  /* Content grids */
  #rec-article-container {
    grid-template-columns: 1fr;
    margin: 0;
    gap: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .dropdown-item {
    font-size: 0.8em;
  }
  
  figure {
    padding: 0;
    margin: 0;
  }
  
  /* Text elements */
  .Quote {
    width: 100%;
  }
  
  .Quote-content {
    font-size: 1.1em;
  }
  
  .Author {
    font-size: 1em;
  }
  
  /* Banner */
  .banner-title {
    font-size: 1.2rem;
  }
  
  .home-banner {
    min-height: 100px;
    height: 200px;
  }
  
  .banner-title::after {
    height: 2px;
  }
  
  /* Posts */
  #post-container ul {
    padding-left: 10px;
  }
  
  .post-header-row {
    flex-direction: column;
    align-items: start;
  }
  
  /* Search dropdown */
  .autocomplete-dropdown {
    max-height: 50vh;
  }
  
  /* Tables */
  table {
    width: 100% !important;
  }
}